/* background */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f0f8ff, #e0c3fc);
}
/* card */
.auth-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* heading */
.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* inputs */
.auth-card input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* button */
.auth-card button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #2575fc, #6a11cb);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* toggle text */
.auth-card span {
  color: blue;
  cursor: pointer;
  margin-left: 5px;
}